<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<form action="/mtwitter/keys" method="post">
    customer key:<input type="text" name="ckey" placeholder="input your customer key"><br/>
    <input type="text" name="csec" placeholder="input your customer secret"><br/>
    <input type="text" name="akey" placeholder="input your auth key"><br/>
    <input type="text" name="asec" placeholder="input your auth secret"><br/>
    <input type="submit" value="submit">
</form>
</body>
</html>